{% extends "base.html" %}

{% block content %}

<div class="card shadow">

    <div class="card-body">

        <h2>Password Generator</h2>

        <form method="POST">

            <button
                type="submit"
                class="btn btn-warning">

                Generate Password

            </button>

        </form>

        {% if password %}

            <hr>

            <h4>Generated Password</h4>

            <div class="alert alert-success">

                <strong>{{ password }}</strong>

            </div>

        {% endif %}

    </div>

</div>

{% endblock %}