<!DOCTYPE html>
<html>
<head>
    <title>Stored Credentials</title>
</head>

<body>

<h1>Stored Credentials</h1>

<table border="1">

<tr>
    <th>Website</th>
    <th>Username</th>
    <th>Password</th>
    <th>Edit</th>
    <th>Delete</th>
</tr>

{% for credential in credentials %}

<tr>

    <td>{{ credential.website }}</td>
    <td>{{ credential.username }}</td>
    <td>{{ credential.password }}</td>

    <td>
        <a href="/edit/{{ credential.id }}">
            Edit
        </a>
    </td>

    <td>
        <a href="/delete/{{ credential.id }}">
            Delete
        </a>
    </td>

</tr>

{% endfor %}

</table>

<br>

<a href="/dashboard">Dashboard</a>

</body>
</html>